/* General Frame */

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #f8f8f8;
    color: #444444;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6em;
    line-height: 1.7;

}


*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-family: 'Josefin Sans';
    font-weight: 600;
    color: #333333;
}

h1, .h1 {
    font-size: 4.8rem;
    line-height: 1.2;
}

h2, .h2 {
    line-height: 1.25;
}

h3, .h3 {
    line-height: 1.3;
}

h4, .h4 {
    font-size: 2.3rem;
}

h5, .h5 {
    font-size: 1.8rem;
    line-height: 1.5;
}

h6, .h6, blockquote, q {
    font-size: 1.5rem;
    line-height: 1.7;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #c62641;
}

img {
    max-width: 100%;
}

figure {
    overflow: scroll;
}

blockquote {
    position:  relative;
    color: #999;
    font-weight: 400;
    border-left: 5px solid #c0392b;
    padding-left: 1.5rem;
    margin: 1rem 3rem 1rem 0rem;
}

blockquote,
blockquote p {
    color: #999;
}

hr {
    border: none;
    border-bottom: 1px solid #cfcfcf;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    height: 0.5rem;
}

/* inline code style */
code {
    font-family: 'Menlo', monospace;
    font-size: 1.3rem;
}

/* codeblock style */
pre code {
    font-size: 1rem;
}



.hagoromo-button {
    height: 40px;
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    line-height: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: #ffffff;
    background: #c62641;
    border: 1px solid #c62641;
}

.hagoromo-button:hover, .hagoromo-pagination a:hover {
    -webkit-box-shadow: 0 10px 20px 0 rgba(1,1,1,.15);
    box-shadow: 0 10px 20px 0 rgba(1,1,1,.15);
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


/* Header */


.hagoromo-header {
    position: fixed;
    z-index:9001;
    top: 0px;
    width: 100%;
    height: 110px;
}

.hagoromo-header-hidden {
    z-index:1000;
}

.hagoromo-header-sticky {
    z-index: 9001;
    height: 70px;
    top: -70px;
    background: #c62641;
}

.hagoromo-cover {
    color: #ffffff;
    height: 209px;
    min-height: 209px;
    background: #c62641;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.hagoromo-header .container {
    height: 100%;
    position: relative;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.slot-l, .slot-r {
    position: absolute;
    z-index: 1001;
    display: table;
    height: 100%;
    top: 0;
}

.slot-l {
    left: 15px;
}

.slot-r {
    right: 0;
}

.slot-r>ul {
    display: table-cell;
    vertical-align: middle;
}

.site-title, .site-title a {
    color: #ffffff;
    margin: 0;
    line-height: 1.2;
    top: 0;
}

.hagoromo-header .hagoromo-site-branding {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hagoromo-header .hagoromo-nav {
    color: #ffffff;
    list-style: none;
    padding: 0;
    margin: 0;
}

.hagoromo-header .hagoromo-nav span {
    padding: 11px 14px;
    line-height: 2.5;
    cursor: pointer;
}


.hagoromo-header .hagoromo-nav>li:hover {
    background: rgba(255,255,255,.1);
    -webkit-box-shadow: 0 10px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 10px 15px 0 rgba(0,0,0,.15);
}

.hagoromo-header .hagoromo-nav i {
    font-size: 1.4rem;
}

/* Sidebar */

.hagoromo-sidebar {
    width: 407px;
    height: 100%;
    top: 0;
    position: fixed;
    padding: 160px 0 0;
    right: 0;
    display: block;
    overflow: auto;
    z-index: 9999;
    transform: translate3d(407px, 0, 0);
    transition: transform .2s ease,visibility 1ms linear .2s,-webkit-transform .2s ease;
    background: #ffffff;
}

.hagoromo-sidebar-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background: rgba(0,0,0,.6);
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: opacity .25s ease-in-out;
}

.hagoromo-sidebar-open .hagoromo-sidebar {
    transform: translate3d(0, 0, 0);
}

.hagoromo-sidebar-open .hagoromo-sidebar-overlay {
    opacity: 1;
    visibility: visible;
}

.hagoromo-sidebar-header {
    background: #c62641;
    position: fixed;
    width: 100%;
    left: 0;
    height: 110px;
    top: 0;
    padding: 0;
}

.hagoromo-sidebar-header-wrapper {
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

.hagoromo-sidebar-close {
    padding: 10px;
    cursor: pointer;
    color: #fff;
    opacity: .5;
    transition: all .2s ease-in-out;
    position: relative;
    right: -10px;
}

.hagoromo-sidebar-close:hover {
    opacity: 1;
}

.widget {
    font-size: 1.4rem;
    margin-bottom: 5rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
}

.widget .widget-title {
    text-transform: uppercase;
    line-height: 1.2;

}

input {
    -webkit-appearance: none;
    border: 1px solid;
    border-color: rgba(68,68,68,0.2);
    padding: 0 15px;
    outline: 0;
    line-height: 1;
    width: 100%;
    font-size: 1.3rem;
    margin: 0;
    height: 40px;
    vertical-align: baseline;
    -webkit-transition: .2s all cubic-bezier(.4,0,.2,1);
    transition: .2s all cubic-bezier(.4,0,.2,1);
}

.hagoromo-button-search {
    margin-top: 1rem;
    width: 100%;
}

.widget ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.widget ul li {
    color: #444444;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1.2rem;
    line-height: 1.5;
}

.widget ul li::before {
    background: #c62641;
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Main Content */

.hagoromo-fake-bg {
    position: relative;
    z-index: 9000;
    background: #f8f8f8;

}

.hagoromo-fake-bg .hagoromo-section:first-child {
    top: -99px;
    position: relative;
    z-index: 900;
    margin-bottom: 0;
}

.hagoromo-section {
    -webkit-box-shadow: 0 30px 50px 0 rgba(1,1,1,.15);
    box-shadow: 0 30px 50px 0 rgba(1,1,1,.15);
    max-width: 1170px;
    margin: 0 auto 10rem;
    width: 95%;
    padding: 16rem 0 15rem;
    background: #ffffff;
}

.section-head {
    margin-bottom: 8rem;
}

.hagoromo-section .section-head:first-child {
    margin-top: -4rem;
}

.section-title {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding-bottom: 4rem;
    line-height: 1;
}

.section-content {
    max-width: 720px;
    margin: 0 auto 12rem;
}

.hagoromo-post {
    position: relative;
    margin-bottom: 9rem;
    padding-bottom: 10rem;
}

.section-title::after, .hagoromo-post::after {
    content: "";
    height: 1px;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
    color: rgba(51,51,51,0.2);
    background: rgba(51,51,51,0.2);
}

.hagoromo-post:last-child {
    margin: 0;
    padding: 0;
}

.hagoromo-post:last-child::after {
    display: none;
}

.hagoromo-button:hover {
    color: #ffffff;
}

.entry-header, .entry-footer {
    position: relative;
    z-index: 2;
}

.entry-content p a, .entry-content li a {
    border-bottom: 1px solid;
}

.entry-header {
    margin-bottom: 2.6rem;
}

.post-letter {
    font-size: 26rem;
    line-height: 1.2;
    color: rgba(0,0,0,.07);
    z-index: 1;
    position: absolute;
    top: 50%;
    left: -9rem;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    text-transform: uppercase;
}


.entry-tags {
    margin-top: 2rem;
}

.entry-tags a {
    font-size: 12px!important;
    display: inline-block;
    vertical-align: top;
    padding: 9px 20px;
    height: 30px;
    line-height: 1;
    margin-right: 2px;
    margin-bottom: 7px;
    background: rgba(0,0,0,.07);
    border: none;
}


/* Pagination */

.hagoromo-pagination {
    text-align: center;
    position: relative;
    padding-bottom: 0;
    width: 100%;
    padding-top: 9rem;
    margin-top: 9rem;
}

.hagoromo-pagination::before {
    background: rgba(51,51,51,0.2);
    content: "";
    height: 1px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -25px;
}

.hagoromo-pagination .navigation {
    position: relative;
    max-width: 720px;
    margin: 0 auto;
    display: block;
    height: 42px;
}

.hagoromo-pagination a, .hagoromo-pagination span {
    font-size: 1.1rem;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
}

.hagoromo-pagination .current, .hagoromo-pagination .next, .hagoromo-pagination .prev {
    color: #ffffff;
    background: #333333;
}


.hagoromo-pagination .page-number {
    min-width: 40px;
    margin: 0 4px;
}

.hagoromo-pagination a{
    color: #333333;
    border: 1px solid #333333;
}

.hagoromo-pagination .next {
    position: absolute;
    right: 0;
    min-width: 160px;
}

.hagoromo-pagination .prev {
    position: absolute;
    left: 0;
    min-width: 160px;
}



/* Footer */

.hagoromo-footer {
    background: #f8f8f8;
    color: #aaaaaa;
    padding: 0;
}

.hagoromo-footer .container {
    max-width: 1270px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hagoromo-footer .hagoromo-footer-widget {
    margin-bottom: 8rem;
    padding-left: 50px;
    padding-right: 50px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    text-align: center;
}

.hagoromo-footer .hagoromo-footer-widget img {
    margin-bottom: 10px;
}

.hagoromo-footer .hagoromo-footer-widget p {
    margin: 0;
    font-family: "Helvatica", serif;
    line-height: 1.5;
}

.hagoromo-footer-widget.social {
    text-align: right;
    padding-top: 63px;
}

.social-button {
    margin: 0 3px 0;
}



/* Responsive Design */


@media (max-width: 1024px) {
    .hagoromo-section {
        padding: 10rem 14% 11rem;
    }
}

@media (max-width: 800px) {
    .hagoromo-section {
        width: 90%;
    }

    .hagoromo-pagination .navigation {
        display: flex;
    }

    .hagoromo-pagination .prev {
        position: relative;
    }

    .hagoromo-footer .container {
        flex-direction: column;
    }

    .hagoromo-footer .hagoromo-footer-widget:first-child {
        margin-bottom: 0;
    }

    .hagoromo-footer .hagoromo-footer-widget:nth-child(2) {
        margin-bottom: 0;
    }

    .hagoromo-footer .hagoromo-footer-widget {
        max-width: 100% !important;
    }

    .hagoromo-footer .hagoromo-footer-widget.social {
        text-align: center;
        padding-top: 10px;
    }

}

@media (max-width: 680px) {
    .h1, .hagoromo-cover .entry-title, .hagoromo-cover h1, h1 {
        font-size: 3.2rem !important
    }

    .h2, h2 {
        font-size: 3rem !important
    }

    .h3, h3 {
        font-size: 2.4rem !important
    }

    .h4, .typology-layout-c .h4, h4 {
        font-size: 2rem !important
    }

    .h5, h5 {
        font-size: 1.6rem !important
    }

    .h6, h6 {
        font-size: 1.2rem !important
    }

    p {
        margin: 0 0 2rem
    }

    blockquote, q {
        padding: 3rem 3rem 2.4rem;
        margin: 3rem 0
    }

    .hagoromo-cover, .hagoromo-header {
        max-height: 75px;
        min-height: 75px!important;
        height: 75px!important;
    }

    .hagoromo-fake-bg .hagoromo-section:first-child {
        top: 0!important;
    }

    .hagoromo-section {
        padding: 7rem 10%;
        margin-bottom: 4rem;
        width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }

    .hagoromo-footer .hagoromo-footer-widget:first-child {
        margin-bottom: 8rem;
    }
}


/* Plugins */


/* archive */

.archive-content .archive-year {
    position: absolute;
    left: -2rem;
}

/* highlightjs-line-number */

.hljs-ln td.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px;

    /* your custom style here */
}

/* for block of code */
.hljs-ln td.hljs-ln-code {
    padding-left: 10px;
}