<header id="hagoromo-header" class="hagoromo-header">
    <div class="container">
        <div class="slot-l">
            <div class="hagoromo-site-branding">
                <h1 class="site-title h4">
                    <a href="/"><img class="typology-logo" src="/images/logo.png" alt="hagoromo" style="width: 125px;"></a>
                </h1>
            </div>
        </div>
        <div class="slot-r">
            <ul class="hagoromo-nav hagoromo-actions-list">
                <li class="hagoromo-action-button hagoromo-action-sidebar">
                    <span><i class="fa fa-bars"></i></span>
                </li>
            </ul>
        </div>
    </div>
</header>
<div id="hagoromo-cover" class="hagoromo-cover hagoromo-cover-empty"></div>