// header
.header {
  margin-bottom: 25px;
  background-image:
  url("/images/banner-02.jpg");
}

.header-inner {
  padding: 80px 0 20px;
}

.brand {
  background: rgba(0,0,0,0.3);
  border-radius: 2px;
}

.site-subtitle {
  color: #FFFFFF;
  display: ;
}

.menu .menu-item a {
  color: #FFFFFF;
}
.menu .menu-item a:hover {
  border-bottom: 1px solid #FFFFFF;
}


// post
.post-more-link .btn {
  border-radius: 2px;
  background: #757575;
  border-color: #757575;
}


// float
.sidebar-toggle {
  border-radius: 2px;
  background: #757575;
}

.back-to-top {
  border-radius: 2px;
  background: #757575;
}


// other
embed {
   display: block;
   margin:  0px auto 25px auto;
}


// media
@media (max-width: 767px) {
  .header-inner {
    padding: 80px 0 70px;
  }

  .menu .menu-item a {
    color: #000000;
  }
  .menu .menu-item a:hover {
    border-bottom: 1px solid #000000;
  }

}