<div class="hagoromo-section">
    <div class="section-content">
        <article class="hagoromo-post">
            <header class="entry-header">
                <h2 class="entry-title h1">
                    <a href="<%- url_for(page.path) %>">往期歸檔 Archive</a>
                </h2>
                <div class="post-letter"></div>
            </header>
            <div class="entry-content archive-content">
                <ul>
                    <% let year = ""; %>
                    <% page.posts.each(function(post,i){ %>
                        <% post.year = post.date.format('YYYY'); %>
                        <% if (year!==post.year) { %>
                            <% year = post.year %>
                            <div class="archive-year"><%= year %></div>
                        <% } %>
                    <li><a href="<%- url_for(post.path) %>"><%= post.title %></a></li>
                    <% }) %>
                </ul>
            </div>
            <div class="entry-footer"></div>
        </article> 
    </div>
</div>